<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="copy_image.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <copy_image.Properties.Settings>
            <setting name="AutoClose" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MenuItemName" serializeAs="String">
                <value />
            </setting>
            <setting name="fileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSizeW" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="AutoSizeH" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="AutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>auto</value>
            </setting>
        </copy_image.Properties.Settings>
    </userSettings>
</configuration>